<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/users/{{user.id}}" method="POST">
		{% csrf_token %}
		<input type="text" name="first_name" value="{{user.first_name}}">
		<input type="text" name="last_name" value="{{user.last_name}}">
		<input type="text" name="email" value="{{user.email}}">
		<input type="text" name="username" value="{{user.user_name}}">
		<input type="password" name="password" value="{{user.password}}">
		<input type="submit">
	</form>
</body>
</html>